name: Deploy to EC2 (Build on Server)

on:
  push:
    branches:
      - deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into EC2 and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          
          script: |
            # Navigate to project directory
            cd ${{ secrets.PROJECT_PATH }}
            
            # Pull the latest code from deploy
            git pull origin deploy
            
            # Rebuild ONLY the 'api' service image
            sudo docker compose build api
            
            # Restart ONLY the 'api' service. 
            # --no-deps ensures it doesn't restart nginx
            sudo docker compose up -d
            
            # Clean up old, unused images
            sudo docker image prune -f
